@font-face {
  font-family: "PoetsenOne-Regular";
  src: url("../PoetsenOne-Regular.ttf");
}
body {
  font-family: "PoetsenOne-Regular";
}
h1 {
  font-size: 1.5em;
}
.normal {
  font-weight: normal;
}
.bolder {
  font-weight: bolder;
}
.bold {
  font-weight: bold;
}
.lighter {
  font-weight: lighter;
}
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
